* {
    font-family: 'Markazi Text', serif;
}

h1 {
    font-size: 85px;
    font-weight: 500;
}

h2 {
    font-size: 53px;
}

p {
    font-family: 'Karla', sans-serif;
    font-size: 21px;
    line-height: 1.5;
    max-width: 45ch;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header > nav > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 50px;
    font-size: 27px;
    font-weight: bolder;
}

header a {
    color: #333333;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

section > img {
    align-self: flex-start;
}

section:nth-of-type(1) {
    flex-wrap: nowrap;
    gap: 0px 100px;
    background-color: #495e57;
}

section:nth-of-type(1) > div > h1 {
    color: #f4ce14;
}

section:nth-of-type(2) {
    min-height: 300px;
}

section:nth-of-type(3) {
    background-color: #495e57;
    min-height: 300px;
}

section:nth-of-type(4) {
    min-height: 300px;
}

section:nth-of-type(3) > h1 {
    font-family: 'Karla', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #f4ce14;
}

section:nth-of-type(1) > img ,div > img {
    height: 350px;
    width: 245px;
}

footer {
    gap: 0px 150px;
    padding: 25px 100px;
    font-size: 15px;
    background-color: #495e57;
    color: yellow;
}

footer a {
    color: #edefee;
    font-family: 'Karla', sans-serif;
}

footer li {
    font-family: 'Karla', sans-serif;
    text-align: center;
    padding-bottom: 10px;
}

.social {
    font-family: 'Karla', sans-serif;
    padding: 0px 15px;
}

button {
    font-family: 'Karla', sans-serif;
    font-size: 22px;
    line-height: 2;
}