* {
    font-family: 'Markazi Text', serif;
    margin: 0px;
}

h1 {
    font-size: 64px;
    font-weight: 500;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    margin-top: -25px;
    margin-bottom: 10px;
}

p {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    max-width: 45ch;
    margin-bottom: 25px;
}

.container {
    display: flex;
}

nav {
    justify-content: center;
    align-items: center;
    gap: 0 50px;
    padding: 15px 0;
}

a {
    font-size: 25px;
    text-decoration: none;
}

a:link {
    color: #333333;
}

a:visited {
    color: #F4CE14;
}

a:hover {
    color: #495E57;
    border-style: none none solid none;
    border-color: #495E57;
    border-width: 5px;
}

a:active {
    color: purple;
}

@media (max-width: 600px) {

}